.vscode/settings.json
classroom_data_v9.json
old
old
old.py
autosave_log_v9.xlsx
BehaviorLogger.lock
_io.BytesIO object at 0x000001E6185AF600
__pycache__/commands.cpython-313.pyc
__pycache__/dialogs.cpython-313.pyc
__pycache__/quizhomework.cpython-313.pyc
BehaviorLogger.lock
autosave_log_v9.xlsx
_io.BytesIO object at 0x000001EEBBEA5B70
_io.BytesIO object at 0x0000022AA878CBD0
_io.BytesIO object at 0x0000027388D1E480
_io.BytesIO object at 0x0000022AA878CBD0
__pycache__/settingsdialog.cpython-313.pyc
__pycache__/commands.cpython-313.pyc
__pycache__/exportdialog.cpython-313.pyc
layout_templates/LayoutExport.png
BehaviorLogger.lock
layout_templates
__pycache__
__pycache__/commands.cpython-313.pyc
__main__.py
autosave_log_v9.xlsx
BehaviorLogger.lock
classroom_data_v9.json
HI5.jpeg
HI5.png
HI5.webp
HI5.jpg
HI5
classroom_data_v9.json
BehaviorLogger.lock
classroom_data_v9.json
__pycache__/other.cpython-313.pyc
__pycache__/settingsdialog.cpython-313.pyc
BehaviorLogger.lock
BehaviorLogger.lock
__pycache__/dialogs.cpython-313.pyc
BehaviorLogger_Backup_v9_20250624_170606.zip
BehaviorLogger_Backup_v9_20250624_170711.zip
BehaviorLogger_Backup_v9_20250624_170828.zip
BehaviorLogger.lock
autosave_log_v9.xlsx
classroom_data_v9.json
OG2_0.json
layout_templates/OG2_0.json
__pycache__/dialogs.cpython-313.pyc
__pycache__/dialogs.cpython-313.pyc
__pycache__/dialogs.cpython-313.pyc
BehaviorLogger.lock
autosave_log_v9.xlsx
__pycache__/dialogs.cpython-313.pyc
classroom_data_v9.json
__pycache__/dialogs.cpython-313.pyc
import tkinter as tk.py
__pycache__/dialogs.cpython-313.pyc
BehaviorLogger v54.spec
/build
/dist
BehaviorLogger.lock
classroom_data_v9.json
__pycache__/dialogs.cpython-313.pyc
__pycache__/other.cpython-313.pyc
__pycache__/settingsdialog.cpython-313.pyc
custom_behaviors_v9.json
custom_homework_statuses_v9.json
custom_homework_types_v9.json
homework_templates_v9.json
quiz_templates_v9.json
student_groups_v9.json
ImageMagickGenerator.py
generated_image.png
classroom_data_v10.json
custom_behaviors_v10.json
custom_homework_statuses_v10.json
custom_homework_types_v10.json
homework_templates_v10.json
quiz_templates_v10.json
student_groups_v10.json
autosave_log_v10.xlsx
buildozer - Copy.txt
BehaviorLogger_Backup_v10_20250705_235922.zip
BehaviorLogger_Backup_v10_20250706_000643.zip
OG20.json
/.vs
TextFile1.txt
.vscode/tasks.json
export_layout_as_image_helper
Scroll.ahk
BehaviorLogger v55.spec
data_encryptor.py
GeminiCLI.sty
gemini.md
seatingchartmain - Copy.py
old_things_to_remember.py
Things to remember about JaffeProje.txt
encryption_key.py
custom_homework_session_types_v9.json
custom_homeworks_v9.json
diff_scroll.py
daf_yomi_downloader.log
BehaviorLogger v56.spec
SettingsDialog.py
settings_undo_history.json
BehaviorLogger v57.spec
BehaviorLogger_Backup_v10_20250729_134701.zip
First Half.py
Second half.py
nuitka-crash-report.xml
settings_sharing_config.json
global_settings.json
BehaviorLogger (1).lock
settingsdialog_old-g.py
profiles.json
